body {
  background-color: #f5f5dc; /* light beige */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: lightgray;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;     /* preserves the image's aspect ratio */
  display: block;
}


a { /* change the appearance of ALL links */
  text-decoration: none;
  color: blue;
}

.project p { /* paragraphs inside .project divs */
  text-align: center;
  margin: 15px;
}
